<div class='experience-section'>
  <h3>Shipped Applications:</h2>
  <ul>
    <li><%= link_to "MessagesOnAMission", 'http://build.messagesonamission.com' %>, a webservice that allows presentation viewers to text a message to the big screen. 
    <li><%= link_to "LuxeLedger", 'http://www.luxeledger.com' %>, a webservice to simplify the day-to-day operations of a boutique bridal store, or custom clothier.</li>
    <li><%= link_to "Schmozzel", 'http://schmozzel.com' %>, a group SMS replacement for GroupMe.</li>
    <li><%= link_to "iTryItOn", 'http://www.black-box-technology.com/itryiton/html/' %>, an iPhone application for the shopaholic you love.</li>
    <li><%= link_to "iDoStyle", 'http://www.dapplebeforedawn.com/iDoStyle/html/' %>, an iPhone application to help you design and share the look of your wedding party.</li>
    <li><%= link_to "aMakeupMatchup", 'http://itunes.apple.com/us/app/amakeupmatchup/id369575842?mt=8' %>, an open source iPhone application to help you remember style, shade and brand of your favorite cosmetics.</li>
  </ul>
</div>
